$background-color:  #FFFFFF;
$card-color1: #F8F9FC;
$card-color2: #C0BFCF;
$card-color3: #9D9DB5;
$header-color: #192140;
$font-colors-of-cards: #10131C;
$footer-font-color: #D7F8FF;
$refocus: #DCF10D;
$onclick: #0266FF;
